.posts {
  background-color: #fafafa;
}

/*.posts.bg {
  background-image: url(../images/posts_mockup.png);
  background-position: center -10px;
  background-repeat: no-repeat;
}*/

.postsFeed {
  display: flex;
  align-items: center;
  overflow: hidden;
  flex-direction: column;
  position: relative;
  padding-top: 80px;
}

.postsFeed a {
  display: block;
  width: 740px;
  margin: 10px auto;
  padding: 20px;
  background-color: #FFFFFF;
  border: 1px solid rgba(0,0,0,.10);
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.05);
  border-radius: 5px;
}

.postsFeed h2 {
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 28px;
  line-height: 35px;
  margin-top: 9px;
}

.postsFeed p {
  margin: 7px 0 10px;
  font-size: 22px;
  line-height: 32px;
}
.postsFeed figure {
  margin-bottom: 31px;
  background-size: cover;
  background-position: center;
  height: 200px;
}
